<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
    <a routerLink="/" routerLinkActive="active">
      <div class="logo"></div>
    </a>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a routerLink="/personajes" routerLinkActive="active">
          <span><i nz-icon type="user"></i><span class="nav-text">Personajes</span></span>
        </a>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">Ordenar</span></span>
        <ul>
          <li nz-menu-item><a routerLink="/personajes" [queryParams]="{ordenar: 'nombre'}" routerLinkActive="active">Nombre</a></li>
          <li nz-menu-item><a routerLink="/personajes" [queryParams]="{ordenar: 'peso'}" routerLinkActive="active">Peso</a></li>
          <li nz-menu-item><a routerLink="/personajes" [queryParams]="{ordenar: 'altura'}" routerLinkActive="active">Altura</a></li>
        </ul>
      </li>
      <li nz-menu-item>
        <a routerLink="/residentes" routerLinkActive="active">
          <span><i nz-icon type="rocket"></i><span class="nav-text">Residentes</span></span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <h2 style="width: 100%; text-align: center;">SWAPI + ANGULAR</h2>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">SWAPI Implement with Angular</nz-footer>
  </nz-layout>
</nz-layout>
